.tinymce-container {
  ::v-deep{
    .mce-content-body {
      h1 {
        font-size: 18px;
        padding: 1px 1px 1px 10px;
        line-height: 30px;
        &:before {
          content: "";
          position: absolute;
          height: 18px;
          left: 1px;
          top: 7px;
          background: #ccc;
          width: 4px;
          border-radius: 4px;
        }
      }
      h2{
        font-size: 16px;
        padding: 1px 1px 1px 10px;
        line-height: 30px;
        &:before {
          content: "";
          position: absolute;
          width: 4px;
          height: 4px;
          left: 1px;
          top: 13px;
          border-radius: 2px;
          background: #bbb;
      }
      }
      p {
        text-indent: 2em;
        font-size: 14px;
        line-height: 20px;
      }
      h1,h2,p{
        border:1px solid white;
        margin: 0px 0px 4px;
      }
      h1:hover,h2:hover,p:hover{
         border-color:  rgba(51, 51, 51,0.1);
      }
    }
  }
}

